[Unit]
Description=Turn TV on via HDMI-CEC
After=network-online.target

[Service]
Type=oneshot
User=pi
Group=pi
ExecStart=/home/pi/pi-kiosk/scripts/tv_on_restart_kiosk.sh
TimeoutStartSec=60
